@font-face {
    font-family:"PingFangSCRegular";
    src: url("../css/font/PingFangSCRegular.ttf") format('truetype');
}
body{
    font-family: "PingFangSCRegular";
}
.clearfix{
    overflow: hidden;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.center-wrap{
    width: 1152px;
    margin: 0 auto;
}
