.site-head {
    height: 150px;
}

.site-head .topbar {
    height: 32px;
    background-color: #2a2a2a;
    color: white;
    line-height: 32px;
}

.site-head .topbar a {
    color: white;
}

.site-head .topbar .shortcur-links {
    float: left;
}

.site-head .topbar .shortcur-links>ul>li {
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

.site-head .topbar .shortcur-links>ul>li.have-menu {
    padding-right: 12px;
    position: relative;
}

.site-head .topbar .shortcur-links>ul>li.have-menu .arrow {
    position: absolute;
    right: 0;
    bottom: 9px;
    width: 10px;
    height: 10px;
    /* background-color: orange; */
    transition: transform .2s ease 0s;
}

.site-head .topbar .shortcur-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .shortcur-links>ul>li.have-menu .arrow b {
    position: absolute;
    left: 0.5px;
    top: 0px;
    width: 8px;
    height: 8px;
    background-color: white;
    transform: rotate(45deg);
}

.site-head .topbar .shortcur-links>ul>li.have-menu .arrow i {
    position: absolute;
    left: 0.5px;
    top: -1.5px;
    width: 8px;
    height: 8px;
    background-color: #2a2a2a;
    transform: rotate(45deg);
}

.main-nav {
    height: 40px;
    background-color: #20bd9a;
}

.main-nav ul li {
    float: left;
    margin-right: 18px;

}

.main-nav ul li .have-menu {
    padding-right: 16px;
    position: relative;
}

.main-nav ul li a {
    line-height: 40px;
    color: white;
    font-size: 16px;
}

.main-nav a .have-menu {
    width: 12px;
  }

.main-nav a .have-menu:hover {
    transition: transform .5s ease 0s;
    transform-origin: 6px 6px;
    transform: rotate(-180deg);
}
.header-con{
    height: 36px;
    padding: 21px 0;
}
.header-con h1{
    float: left;
    font-size: 24px;
    color: #20bd9a;
    font-weight: bold;
    line-height: 36px;
}
.header-con .soso-box{
    float: left;
    margin-left: 20px;
    width: 405px;
    padding-top: 2px;
}
.header-con .soso-box input{
    float: left;
    width: 355px;
    height: 28px;
    border: 1px solid #20bd9a;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    /* 取消默认的外线 */
    outline: none;
    padding-left: 10px;
}
.header-con .soso-box .btn{
    display: inline-block;
    width: 32px;
    height: 30px;
    background-color: #20bd9a;
}